{% extends "auctions/layout.html" %}

{% block title %}Create New Listing{% endblock %}

{% block body %}

    <h2>Create New Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% if user.is_authenticated %}
      <form action="{% url 'new_listing' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{ listing.id }}" name="listing_id">
          <input type="hidden" value="{{ user.id }}" name="user_id"> 
          <div class="form-group">
            <table>
                {{ form.as_table }}
            </table>
          <input class="btn btn-primary" type="submit">
      </form>
    {% else %}
    <h2>Login to create a listing.</h2>
    {% endif %}


{% endblock %}
