{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create New Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% if user.is_authenticated %}
      <form action="{% url 'create_listing' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
              <input autofocus class="form-control" type="text" name="title" placeholder="Title">
              <input autofocus class="form-control" type="number" name="starting_bid" placeholder="Starting Bid">
              <input autofocus class="form-control" type="text" name="category" placeholder="Category">
              <input autofocus class="form-control" type="text" name="image_url" placeholder="Image URL">
              <input type="hidden" name="user_id" value="{{ user.id }}">
          </div>
          <div class="form-group">
              <textarea class="form-control" name="description" placeholder="Item Description"></textarea>
          </div>
          <input class="btn btn-primary" type="submit">
      </form>
    {% else %}
    <h2>Login to create a listing.</h2>
    {% endif %}


{% endblock %}
